
/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url( "https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap");
@import url("./responsive.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{ 
    font-family: "Poppins", sans-serif;
    color: #272727;
    background-image: linear-gradient(to top, #ecaf9e 0%, #ffc9ff 100%);
}

html {
    scroll-behavior: smooth;
}

/*DESKTOP NAV*/

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    height: 7rem;
}

.navbar {
    margin-top: 1rem;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: rgb(204, 83, 134);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
.logo-img {
    width: 18rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

/*SECTIONS*/



/*SECTION SOBRE*/
#sobre {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
    height: 30rem;
    background-image: url("../assets/tie-capa.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    opacity: .8;

}

.sobre-texto {
    width: 80%;
    font-size: 1rem;
    text-shadow:  2px 2px 8px #d04f8f

}

.sobre-texto h1 {
    font-size: 2.5rem;
}


/*SECTION EQUIPE*/
#equipe {
    text-align: center;
    padding-top: 5rem;
    
}

#equipe h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

#artists-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 4rem;
    
}

.container-link {
    display: block;
}

.container-link:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    background-color:  rgb(229, 127, 169);
    color: white;
    border-radius: 5%;
    width: 13rem;
    height: 16rem;
}

.person-container {
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 5%;
    width: 13rem;
    height: 18rem;
    margin: 1rem;

}

.person-container p { 
    font-size: .8rem;
}

.person-container a {
    color:  rgb(229, 127, 169);
    text-decoration: none;
    margin: 1rem;
}

.person-container img {
    width: 10rem;
    margin-top: 1rem;
    border-radius: 3%;
}

/*SECTION GALERIA*/

#galeria {
    text-align: center;
}

#galeria h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    width: 20rem;
    height: auto;
    margin: .5rem;
    opacity:0.8;
    transition: 1s ease;
    cursor: pointer;
    border-radius: 1%;
}

.gallery-container img:hover {
    opacity:1;
    transition: 1s ease;
}



/*SECTION DUVIDAS*/

#duvidas {
    text-align: center;
    padding: 5rem;
}

#duvidas h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
}


#duvidas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 3rem;
    cursor: pointer;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.3rem;

}

.dropdown-content {
    display: none;
    padding: 10px;
    background: #ffd8fa;
    border-left: 3px solid #f4a261;
    margin-top: 5px;
}

.local-container p {
    padding: 2rem;
}
.dropdown-content li {
    display: flex;
    justify-content: center;
}
.arrow {
    display: block;
    transition: transform 0.3s ease;
}
.open .arrow {
    transform: rotate(180deg);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*FOOTER*/

footer, 
.footer-links{
    display: flex;
}


footer{
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: rgb(229, 127, 169);
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.footer img {
    width: 5rem;
    height: 3rem;
}

.signature{
    display: block;
    font-size: 1rem;
}

/*ANAMNESE*/

.anamnese {
    text-align: justify; 
    margin: 4rem;
    margin-top: 10rem;
    line-height: 2rem;
    padding: 3rem;

}

.anamnese input {
    width: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5%;
    border-color: #d8946b;
}

.required {
    color: red;
}
label {
    margin: 0.5rem;
}
select {
    padding: 0.5rem;
    border-radius: 5%;
    border-color: #d8946b;
    margin-bottom: 1rem;
}

.client-data{
    
    line-height: 3rem;
}

canvas {
    background: #fff;
    cursor: crosshair;
    border-radius: 5%;
    
}

.signature-button{
    padding: 1rem;
    background-color: rgb(229, 127, 169);
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

}

#state, #age {
    width: 3rem;
}
.submit-button {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-top: 1rem;
}

.submit-button input {
    width: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(229, 127, 169);
    color: white;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
} 


